<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="sai.css">
    <style>
    body {
        background-image: url('images/book6.webp');
        background-repeat:no-repeat ;
      background-size: 100%;
      }
      </style>

</head>
<body>

        <div class="three">
            <h1 style="color: red;">Contact Us</h1>
            <p>This is the contact page content.</p>
            <p>Email : pandusai025@gmail.com</p>
            <p>Mobile No : 9#######</p>
            <h4><a href="/back" style="color: green; ">Back to Dashboard</a></h4>

        
    </div>
</body>
</html>