<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your head content here -->
</head>
<body>
    <form method="POST" action="/forgot-password-submit">
        <div class="two">
            <h1 style="color: red;">** Password Reset **</h1>
            <label for="email">Email : *</label>
            <input type="email" placeholder="Enter your email" name="email" id="email" required><br><hr>
            <button type="submit"><span>&#x1F511;</span>Reset Password</button>
        </div>
    </form>
    
</body>
</html>
