<!-- reset-password.ejs -->
<form method="POST" action="/reset-password-submit">
    <div class="two">
        <h1 style="color: red;">** Reset Password **</h1>
        <label for="email">Email : *</label>
        <input type="email" placeholder="Enter your email" name="email" id="email" required><br><hr>

        <label for="newPassword">New Password : *</label>
        <input type="password" placeholder="Enter new password" name="newPassword" id="newPassword" required><br><hr>

        <label for="confirmPassword">Confirm New Password : *</label>
        <input type="password" placeholder="Confirm new password" name="confirmPassword" id="confirmPassword" required><br><hr>

        <button type="submit"><span>&#x1F511;</span>Reset Password</button>
    </div>
</form>
